<div class="container">
  <%= simple_form_for @experience do |f| %>
    <%= f.input :title %>
    <%= f.input :experience_type, collection: %w(Food/Cooking IT Drinking Sport/Outdoors Gardening Arts/Design Photography Music Parents&Kids Other) %>
    <%= f.input :description %>
    <%= f.input :address %>
    <%= f.input :price %>
    <%= f.input :photo, as: :file %>
    <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>
</div>
