<div class="container">
  <div class="row">
    <div class="col-sm-12 col-lg-6 offset-lg-3">
      <h1><%= @experience.title %></h1>
      <p class="mt-4 larger-text">Offered by <%= @experience.user.first_name %> <%= @experience.user.last_name %></p>
      <p class="larger-text"><%= @experience.experience_type %></p>
      <p class="larger-text">£<%= @experience.price %></p>
      <div class="form-booking">
        <%= simple_form_for [@experience, @booking] do |f| %>
        <%= f.input :starts_at, as: :string, input_html: { class: "datepicker" } %>
        <%= f.input :ends_at, as: :string, input_html: { class: "datepicker" } %>
        <%= f.button :submit, class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>



