<div class="row">
  <% @experiences.sample(3).each do |experience| %>
    <div class="adventure-container">
      <% if experience.photo.attached? %>
      <%= link_to experience_path(experience) do %>
        <%= cl_image_tag experience.photo.key, crop: :fill, class:"img-fluid" %>
      <% end %>
      <% end %>
    <div class="header mt-3">
      <p class="larger-text"><%= experience.title %> </p>
      <div class="header-information">
      <p class="grey-text"><%= experience.experience_type %></p>
      <p class="grey-text">£<%= experience.price %> </p>
      </div>
    </div>
    <div class="main-content">
      <p> <%= experience.description %> </p>
    </div>
    </div>
  <% end %>
</div> 
