<div class="container">
  <h1>Experiences#index</h1>
  <% @experiences.each do |experience| %>
    <p>Title: <%= experience.title %></p>
    <p>Type: <%= experience.experience_type %></p>
    <p>Description: <%= experience.description %></p>
    <p>Price: <%= experience.price %></p>
    <p>User_id: <%= experience.user_id %></p>
    <%= link_to "See Experience", experience_path(experience) %>
    <hr>
    <%= link_to "See All My Bookings", experience_bookings_path(:experience_id) %>
    <hr>
  <% end %>
</div>
