<div class="container">
  <h1><%= @experience.title %></h1>

  <p><%= @experience.description %></p>
  <p>£<%= @experience.price %></p>
  <p>User: <%= @experience.user_id %></p>
  <%= link_to "See My Bookings", experience_bookings_path(@experience) %>
  <hr>
  <%= link_to "Edit Experience", edit_experience_path(@experience) %>
  <hr>
  <%= link_to "Delete Experience", experience_path(@experience), method: :delete, data: {confirm:"Are you sure you want to delete your offered experience?"} %>
  <hr>
  <%= link_to "Book Experience", new_experience_booking_path(@experience) %>
</div>
