<div class="container">
  <h1>Experiences#show</h1>

  <p>Title: <%= @experience.title %></p>
  <p>Description: <%= @experience.description %></p>
  <p>Price: <%= @experience.price %></p>
  <p>User: <%= @experience.user_id %></p>
  <%= link_to "Edit Experience", edit_experience_path(@experience) %>
  <%= link_to "Delete Experience", experience_path(@experience), method: :delete, data: {confirm:"chuck norris is watching you..are you sure?"} %>
  <%= link_to "Book Experience", new_experience_booking_path(@experience) %>
</div>
